.Playlist{
	margin-left: 50px;
	margin-bottom: 30px;
	height:250px;
	width:250px;
	text-align: center;
}

.Playlist h3{

}

.Playlist-img {
	text-align: center;
	box-shadow: 5px 5px 5px #908484;
  width: 220px;
  height: 220px;
  background-size: 100%;
  border-radius: 999px;
}

.flex-row{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
